body {
    margin: 0;
    background-color: grey;
    z-index: 1;
    overflow-x: hidden;
}

.titel {
    margin-right: -200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px 3px #000000;
}

.galerie {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    height: 300px;
    max-width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    z-index: 1;
    box-shadow: 5px 14px 21px 1px rgba(28, 28, 28, 0.79);
}

img:hover {
    box-shadow: 5px 14px 21px 1px rgba(28, 28, 28, 1.1);
}

.open-div {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    z-index: -1;
    display: none;
}

.image-big {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.image-big img {
    margin: 0;
    height: 100vh;
    width: 60vw;
}

.closeImage {
    background-color: rgba(149, 144, 144, 0.428);
    position: absolute;
    top: 16px;
    left: 16px;
    width: 64px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid black;
}

.closeImage img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding: 0px;
}

.pp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swipeImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: none;
}


/*Bildschirm PC anpassen*/

@media screen and (max-width:1400px) {
    .image-big {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .image-big img {
        margin: 0;
        height: 80vh;
        width: 90vw;
    }
    .closeImage {
        background-color: rgba(149, 144, 144, 0.428);
        position: absolute;
        top: 16px;
        left: 16px;
        width: 64px;
        height: 60px;
        border-radius: 100%;
        border: 1px solid black;
    }
    .closeImage img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        padding: 0px;
    }
    .swipeImage {
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-left: 16px;
        margin-right: 16px;
        box-shadow: none;
    }
}


/*Bildschirm Handy anpassen*/

@media screen and (max-width:800px) {
    .galerie {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 1;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    img {
        height: 300px;
        max-width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        object-fit: cover;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        margin: 20px;
        z-index: 1;
        box-shadow: 5px 14px 21px 1px rgba(28, 28, 28, 0.79);
    }
    .image-big {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .image-big img {
        overflow: hidden;
        margin: 0;
        height: 50vh;
        width: 70vw;
    }
    .closeImage {
        background-color: rgba(149, 144, 144, 0.428);
        position: absolute;
        top: 8px;
        left: 8px;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: 1px solid black;
    }
    .closeImage img {
        width: 12px;
        height: 12px;
        object-fit: cover;
        padding: 0px;
    }
    .swipeImage {
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-left: 16px;
        margin-right: 16px;
        box-shadow: none;
    }
}